@import ../../sass/helpers/media-queries.sass

.daily
    +tab
        align-self: stretch

.days
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: 40px
    background: #e3e8eb
    border-radius: 5px

    +tab
        width: 100%

.day
    display: flex
    flex-direction: column
    align-items: center
    width: calc(100% / 5 - 40px)
    min-width: 175px
    margin: 50px 20px 20px
    padding: 30px
    background: #ce9eda
    background: #fff
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2)
    border-radius: 5px
    cursor: pointer
    transition: transform 0.4s ease-in-out
    will-change: transform
    overflow-x: hidden

    +mob-large
        min-width: 220px


    +mob-mid
        min-width: 80%


    &:hover
        transform: translateY(-40px)

    &__temp
        display: flex
        align-self: stretch
        justify-content: center

        &-between
            margin: 0 10px

        &-value
            display: flex
            align-items: flex-end

        &-units
            display: flex
            align-items: flex-end
            line-height: 20px

            &-icon
                margin-left: 5px
                font-size: 20px
                line-height: 17px

    &__description
        position: relative
        white-space: nowrap

        // align-self: flex-start

        &::before
            content: ""
            position: absolute
            right: 0
            top: 0
            width: 30%
