.favorite {
  margin-left: 10px;
  position: absolute; }
  .favorite__button {
    width: 48px;
    height: 48px;
    border: none;
    font-size: 30px;
    background: #e3e8eb;
    border-radius: 3px;
    color: #7b53c1;
    will-change: transition;
    transition: color 0.2s linear, background 0.2s linear;
    cursor: pointer; }
    .favorite__button:hover {
      background: #fff;
      border: 2px solid #e3e8eb; }
    .favorite__button:focus {
      background: #fff;
      border: 2px solid #e3e8eb; }
    .favorite__button--add {
      margin-right: 5px; }
      .favorite__button--add:hover {
        color: #53bbc1; }
