.menu__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  border: none;
  background: #e3e8eb;
  cursor: pointer; }
  .menu__button-icon {
    font-size: 20px;
    color: #8c72bb;
    pointer-events: none; }
  .menu__button--close {
    position: absolute;
    left: unset;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px; }
  .menu__button--clear {
    position: absolute;
    left: unset;
    top: unset;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    border: none;
    font-size: 30px;
    background: #7b53c1;
    border-radius: 3px;
    color: #fff;
    will-change: transition;
    transition: background 0.2s linear;
    cursor: pointer; }
    .menu__button--clear:hover {
      background: #8c72bb; }
    .menu__button--clear:focus {
      background: #8c72bb; }

.menu__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 60px 40px;
  background: #e3e8eb;
  overflow: hidden;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  will-change: transition;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-300px);
  z-index: 2; }
  .menu__sidebar--opened {
    transform: translateX(0); }
  .menu__sidebar-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer; }

.menu__background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .menu__background--opened {
    display: block; }
