@import ../../sass/helpers/media-queries.sass

.current
    align-self: stretch
    width: 535px
    margin: 30px auto 0
    padding: 30px 15px
    background: #fff
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2)
    border-radius: 5px

    +mob-large
        width: 100%
        margin-top: 55px


    &__info
        display: flex
        flex-direction: row
        justify-content: center
        max-width: 535px

        +mob-large
            flex-wrap: wrap
            width: 100%


        &-item
            width: calc(100% / 3)
            text-align: center

            +mob-large
                min-width: 140px
                white-space: nowrap


            +mob-mid
                width: 100%
                margin-top: 10px


            &:last-child
                +mob-large
                    margin-top: 10px

    &__title
        margin-top: 20px
        font-size: 25px
        font-weight: 500
        text-align: center

    &__summary
        display: flex
        justify-content: center
        align-items: baseline
        margin: 15px auto

        &-item
            &:not(:last-child)
                margin-right: 15px

            &--icon
                font-size: 30px
                line-height: 25px

            &--temp
                display: flex
                align-items: flex-end
                font-size: 25px

            &-units
                &--temp
                    font-size: 20px
                    line-height: 15px
